*{
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.todo-list{
  list-style: none;
}
.title{
  margin-bottom: 20px;
  font-family: Calibri;
}
.btn{
  border: none;
  padding: 15px 45px;
  color: #fff;
  background-color: green;
  margin-left: 10px;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.btn:hover{
  background-color: rgb(2, 95, 2);
}
.form{
  margin-bottom: 15px;
}
.form-input{
  padding: 13px 5px;
  width: 300px;
}